@{
    ViewData["Title"] = "Home Page";
}
@using Newtonsoft.Json
@model IndexViewModel
<body>
    <div class="text-center">
        <h1 class="display-4">Hello, World!</h1>
    </div>
    <table class="table table-responsive-md">
        @{
            if (Model.reminders != null && Model.reminders.Count != 0)
            {
                <thead>
                    <tr>
                        <td style="font-weight: 700">Title</td>
                        <td style="font-weight: 700">Text</td>
                        <td style="font-weight: 700">Time</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RemindersApp.DBModels.Reminder reminder in Model.reminders)
                    {
                    <tr class="d-lg-table-row">
                        <td>@reminder.Title</td>
                        <td>@reminder.Body</td>
                        <td>@reminder.ShowTime.Hour:@reminder.ShowTime.Minute @reminder.ShowTime.Day.@reminder.ShowTime.Month.@reminder.ShowTime.Year</td>
                        <td><input class="btn btn-sm btn-danger" type="button" onclick="deleteReminder(@reminder.Id)" value="Delete"></td>
                    </tr>
                    }
                </tbody>
            }
        }
    </table>
    <form name="newReminderForm" asp-controller="Home" asp-action="AddReminder">
        <h2>New task</h2>
        <div class="col-md-3 border">
            <div>
                <label for="title">Task title: </label>
                <input class="form-control" type="text" name="title" maxlength="25" required>
            </div>
            <div>
                <label for="body">Task text: </label>
                <input class="form-control" type="text" name="body" maxlength="80">
            </div>
            <div>
                <label for="deadline_minutes">Deadline: </label>
                <input class="form-control" type="datetime-local" name="deadline" required>
            </div>
            <div>
                <input style="margin-top: 10px; margin-bottom: 10px" class="btn btn-sm btn-primary" type="submit" id="submit" value="Add Task">
            </div>
        </div>
    </form>

    
    <form name="deleteForm" asp-controller="Home" asp-action="DeleteReminder">
        <input type="hidden" name="reminderId"/> 
    </form>

    <script type="text/javascript">
        askNotificationPermission();

        var Reminders = @Html.Raw(@JsonConvert.SerializeObject(Model.reminders));
        var counter = 0;

        //Checks the deadlines every 5 seconds
        let timer = setInterval(checkDeadlines, 5000, Reminders);

        function checkDeadlines(arr) {
            var nowDate = new Date();
            if (arr != null) {
                arr.forEach(function (item, i, arr) {
                    var remDate = new Date(item.ShowTime);
                    if (nowDate >= remDate && !item.Elapsed) {
                        let notification = new Notification(item.Title, { body: item.Body });
                        item.Elapsed = true;
                        deleteReminder(item.Id);
                    }
                });
            }
        }

        //Sends a form with ID of an elapsed reminder
        function deleteReminder(id) {
            var deleteForm = document.forms.deleteForm;
            deleteForm.elements.reminderId.value = id;
            deleteForm.submit();
        }

        //Checks the notification permission's status and, if denied, asks for it
        function askNotificationPermission() {
            if (Notification.permission === 'denied' || Notification.permission === 'default') {
                Notification.requestPermission();
            } 
        }
    </script>
</body>